<% if (site.posts.length){ %>
    <div class="widget-wrap">
      <h3 class="widget-title"><%= __('profile') %></h3>
      <div class="widget profile">
        <img src="<%- url_for(theme.author_image) %>" alt="author" class="author_image">
        <!-- 210308 profile追加 -->
        <div>
          <span class="b" style="color:rgb(23, 196, 0);">Mori Atsushi</span><br>
          <ul>
          <li><i class="fab fa-github"></i> <a href="https://github.com/ki4070ma" target="_blank" rel="noopener">Github</a></li>
          <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/atsushi0521" target="_blank" rel="noopener">Twitter</a></li>
          <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/atsushi-mori-7351124b/" target="_blank" rel="noopener">LinkedIn</a></li>
          <li><i class="fab fa-qiita"></i> <a href="https://qiita.com/atsushi0521" target="_blank" rel="noopener">Qiita</a></li>
          <li><i class="fab fa-facebook"></i> <a href="https://qiita.com/atsushi0521" target="_blank" rel="noopener">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  <% } %>